@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (FeaturedItemsRow)Model.Content;
    var settings = (FeaturedItemsRowSettings)Model.Settings;
    if(settings?.Hide ?? false) { return; }
    if(row.FeaturedItems == null || !row.FeaturedItems.Any()) return;
}

<div class="row gx-4 gx-lg-5 justify-content-center">

    <header class="text-center">
        <h2>@row.Title</h2>
        <p>@row.Description</p>
    </header>

    @foreach(var item in row.FeaturedItems)
    {
        var rowItem = (ImageLinkItem)item.Content;
        var rowSettings = (ImageLinkItemSettings)item.Settings;
        if(rowSettings.Hide) continue;

        <div class="card col-md-4 col-sm-12">
            @if(rowItem.Image != null)
            {
                <img src="@rowItem.Image.GetCropUrl(490,383)" class="card-img-top" alt="@rowItem.Image.Name">
            }
            <div class="card-body">
                @if(!string.IsNullOrWhiteSpace(rowItem.Title))
                {
                    <h5 class="card-title">@rowItem.Title</h5>
                }
                @if(!string.IsNullOrWhiteSpace(rowItem.Description))
                {
                    <p class="card-text">@rowItem.Description</p>
                }
                @if(rowItem.Link != null)
                {
                    <a href="@rowItem.Link.Url" @rowItem.Link.Target class="btn btn-primary">@rowItem.Link.Name</a>
                }
            </div>
        </div>
    }
</div>