@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (ImageRow)Model.Content;
    var settings = (ImageRowSettings)Model.Settings;
    if(settings?.Hide ?? false) { return; }
    if(row.Image == null) return;
}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        @if(row.Link != null)
        {
            @:<a href="@row.Link.Url" target="@row.Link.Target" title="@row.Link.Name">
        }
        <img class="img-fluid" src="@row.Image.Url()" alt="@row.Caption">
        <span class="caption text-muted">@row.Caption</span>
        @if(row.Link != null)
        {
            @:</a>
        }
    </div>
</div>